* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --heading-font: 'Lato', sans-serif;
    --heading2-font: 'Raleway', sans-serif;
    --brand-font: 'Delicious Handrawn', cursive;
    --name-font: 'Kola', cursive;
    --para-font: 'Roboto Mono', sans-serif;
}

body {
    font-family: var(--para-font);
}

section {
    padding: 1rem;
}

.navbar-brand {
    font-family: var(--brand-font);
    font-size: 2rem;
}

.me {
    /* color: #bc1e51; */
    font-family: var(--name-font);
}

h1 {
    font-size: 4.375rem;
    line-height: 3.75rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    font-family: var(--name-font);
}

h3 {
    font-size: 2.25rem;
    line-height: 3.125rem;
    font-weight: 700;
    margin-bottom: 0.9375rem;
    font-family: var(--heading-font);
    text-transform: uppercase;
}

h5 {
    font-size: 2rem;
    line-height: 3.125rem;
    font-weight: 0;
    margin-top: 45px;
    margin-bottom: 0.9375rem;
    font-family: var(--heading-font);
    text-transform: uppercase;
}

h6 {
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 15px;
    font-family: var(--heading2-font);
    font-weight: 900;
}

form{
    display: flex;
    flex-direction: column;
}

h2{
    font-weight: 600;
    font-size: 40px;
}

.input{
    /* padding: 2px; */
    margin: 10px;
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    font-weight: 500;
    padding-left: 25px;
    color: #000;
    font-weight: 600;
    border-radius: 50px;
}

.input:focus{
    border: 2px solid #466C40;
}

.msg{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.heading {
    font-family: var(--heading-font);
    font-weight: 600;
    text-align: center;
    word-spacing: 10px;
    margin: 30px;
    /* text-transform: uppercase; */
}

.container-fluid {
    padding: 3% 15%;
    text-align: justify;
}

.rule {
    border: 2px solid #63707E;
    width: 20rem;
    margin: 20px;
}

p {
    color: #6e474e;
    font-family: var(--para-font);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
}

.green{
    color: #173812;
}

.navbar {
    /* background-color: #F2F6F5; */
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.navbar-toggler:focus {
    box-shadow: none;
}

ul{
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 5px;
}

.nav-item {
    margin: 0 0.625rem;
}

.nav-item .nav-link {
    font-family: var(--heading-font);
    font-size: 0.95rem;
    font-weight: 700;
    color: #63707E;
    display: inline-block;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
    color: #000;
}

.menu-navbar-nav {
    text-align: center;
    /* background-color: #F2F6F5; */
}

.navbar, #home{
    background: url(images/Back.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#home {
    color: #000;
    padding: 30px;
    /* background-color: #F2F6F5; */
}

#about {
    background-color: #F1C0C9;
    color: #fff;
    text-align: center;
}

#skills {
    /* background-color: #93B5B3; */
}

#portfolio {
    background-color: #96B65A;
}

#contact {
    background-color: #86C7DA;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#footer {
    background-color: #F1C0C9;
    font-family: var(--heading-font);
    color: #6e474e;
    font-size: 20px;
}

#about ul.nav-pills {
    border-radius: 50px;
}

#about ul li .nav-link {
    font-family: var(--heading2-font);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.45s cubic-bezier(0, 0, 0.2, 1);
    border: 0;
}

#about ul li .nav-link.active {
    /* background-color: #F2F6F5; */
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.justify {
    text-align: justify;
}

.img-fluid {
    margin-top: 50px;
}

.card {
    /* background-color: #F2F6F5; */
    cursor: pointer;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0 0.9375rem 1.875rem #63707E;
}

.img {
    border-radius: 25px;
    border: 5px solid #417A76;
}

.prj{
    margin-left: 10px;
    text-align: center;
}

.btn {
    box-shadow: 0px 10px 14px -7px #63707e;
    background-color: #466C40;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #FFF;
    font-family: var(--heading2-font);
    font-size: 15px;
    font-weight: 700;
    padding: 14px 16px;
    text-decoration: none;
    width:  200px;
}

.btn:hover {
    background-color: #96B65A;
}

.btn:active {
    position: relative;
    top: 1px;
}

.footer-link {
    font-family: var(--heading-font);
    color: #6e474e;
    text-decoration: none;
    margin: 0 0.625rem;
}

.cp {
    font-family: var(--brand-font);
    color: #6e474e;
    margin-top: 10px;
    font-size: 2.1rem;
}

a {
    text-decoration: none;
    color: #63707E;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #96B65A; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #466C40; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #466C40; 
}